@model BalanceViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- Content -->
<div class="col-sm-12 col-md-8 col-lg-9">
    <div>
        <div class="content">
            <div class="balance-orange">
                <div class="card order-item order-item-balance">
                    <div class="card-body" style="padding: 2rem !important;">
                        <div class="row">
                            <div class="col-12">
                                <div class="balance-card">
                                    <div class="balance-card-header">
                                        <div class="balance-card-total">
                                            <h3 class="balance-card-title">Balansım</h3>
                                            <div class="balance-card-total-price">
                                                <span>
                                                    @Model.Member.Balance <sup class="manat">₼</sup>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="balance-card-date">
                                            <p>Son əlavə tarixi</p>
                                            <strong>2022-10-07</strong>
                                        </div>
                                    </div>
                                    <div class="balance-card-body">
                                        <p class="balance-card-text">
                                            Azərbaycana çatdırılma haqqının
                                            ödənilməsi və online kuryer sifarişi üçün balansınızı
                                            artıra
                                            bilərsiniz.
                                        </p>
                                        <h4 class="balance-card-note upper">
                                            ARTIRILAN BALANS GERİ
                                            QAYTARILMIR.
                                        </h4>
                                        <a href="#" class="btn btn-success increase-balance" onclick="GetPartial()">Balansi Artir </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog" style="min-width:60%">
                        <div class="modal-content">
                            <div class="modal-header">
                                <a href="#" id="cancel" class="close" data-dismiss="modal">&times;</a>
                            </div>
                            <div class="modal-body" id="myModalBodyDiv">
                            </div>
                            <div class="modal-footer">
                                <a href="#" id="cancel" class="btn btn-default" data-dismiss="modal">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>

    var GetPartial = function () {

        var url = "/Balance/GetPartial";

        $("#myModalBodyDiv").load(url, function () {
            $("#myModal").modal("show");

        })

    }

    $('a[id="cancel"]').click(function () {
        $("#myModal").modal("hide");
    });
</script>
